@import "./theme/source/variables.module";

#outline {
  .grid {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    > div {
      text-align: left;
      padding-left: 1em;
    }
    width: 60%;
    margin: 0 auto;
  }
}

#political-scale {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-duration: 3s;
  height: 700px;
  .top {
    font-size: 0.8em;
  }
  .def {
    flex: 0 0 300px;
    align-self: center;
    transition-duration: 3s;
    p {
      font-size: 0.6em;
      opacity: 0.7;
    }
  }
  .def-orange .top {
    color: orange;
  }
  .def-yellow .top {
    color: yellow;
  }
  .chart-container {
    transition-duration: 3s;
  }
  &.frag0 {
    gap: 3em;
    .chart-container {
      transform: scale(0);
      width: 0;
    }
    .def {
      transform: scale(1.1);
    }
  }
  &.frag1,
  &.frag2 {
    gap: 1em;
    .chart-container {
      transform: scale(1);
      width: 900px;
    }
    .def {
      transform: scale(1);
    }
  }
  
}

#perception {
  .p-line {
    width: 1000px;
    height: 4px;
    background-color: $text-color;
    border-radius: 2px;
  }
}

#value-added {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#cohesion {

  height: 600px;
  width: 100%;
  position: relative;
  .circle {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: scale-color($secondary-color, $alpha: -50%);
    border: 5px solid $secondary-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.inequality {
      top: 50%;
      left: 20%;
    }
    &.cohesion {
      top: 50%;
      right: 20%;
    }
    transform: translateY(-50%)
  }

  $arrow-height: 80px;
  $arrow-width: 320px;

  .arrow-pointer {
    width: $arrow-width;
    height: $arrow-height;
    background: $text-color;
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    font-size: 0.8em;
    &.arrow-pointer-right {
      top: 30%;
      transform: translateX(-($arrow-width + $arrow-height/4) / 2);
    }
    &.arrow-pointer-left {
      bottom: 30%;
      transform: translateX(-($arrow-width - $arrow-height/4) / 2);
    }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   left: 0; bottom: 0; width: 0; height: 0;
    //   border-left: $arrow-height/2 solid $primary-color;
    //   border-top: $arrow-height/2 solid transparent;
    //   border-bottom: $arrow-height/2 solid transparent;
    // }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: $arrow-height/2 solid transparent;
      border-bottom: $arrow-height/2 solid transparent;
    }
    &.arrow-pointer-right:before {
      border-left: $arrow-height/2 solid $text-color;
      right: -$arrow-height/2;
    }
    &.arrow-pointer-left:before {
      left: -$arrow-height/2;
      border-right: $arrow-height/2 solid $text-color;
    }
  }

}

#media {
  height: 750px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(black, 0.5);
  border-radius: 40px;
  backdrop-filter: blur(12px) opacity(1);
  // transition-duration: 4s;
  padding: 2em;
  #media-scale {
    margin: 1em 0 1em 0;
    display: flex;
    align-items: flex-end;
    gap: 2px;
    > div {
      flex-basis: 40px;
      flex-grow: 1;
      .media-logo {
        background: $text-color;
        margin: 0;
        border-radius: 0 0 4px 4px;
        width: 100%;
      }
    }
  }
  // .future > & {
  //   backdrop-filter: blur(12px) opacity(0);
  // }
}

#value-added-legend {
  display: flex;
  justify-content: center;
  gap: 0.7em;
  font-size: 0.7em;
  .va-line {
    display: inline-block;
    height: 4px;
    width: 30px;
    border-radius: 2px;
  }
  div:first-child .va-line {
    height: 8px;
    width: 40px;
    border-radius: 4px;
  }
  > div {
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
}

#flood-container {
  position: relative;
  height: 500px;
  > img {
    height: 500px;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition-duration: 2s;
    border-radius: 40px;
  }
  #flood-biz {
    opacity: 0;
    mix-blend-mode: darken;
  }
  #flood-data {
    > div {
      margin: 0.4em 0;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-duration: 3s;
    .more {
      font-size: 0.6em;
      color: $secondary-color;
    }
    .num {
      font-size: 2em;
      color: $secondary-color;
      margin: -20px 0 -25px 0;
    }
    .bottom {
      font-size: 0.7em;
    }
  }

  &.frag1 {
    #flood-biz {
      opacity: 1;
    }
  }
  &.frag2 {
    #flood-biz {
      transform: translateX(50%);
      opacity: 1;
    }
    #flood-area {
      transform: translateX(-150%);
    }
    #flood-data {
      opacity: 1;
    }
  }

  
}

#megatrends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  .trend {
    flex-basis: 500px;
    // flex-grow: 1;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
  }
  .below {
    font-size: 0.8em;
    color: $secondary-color;
  }
}
