@use "sass:color";

$primary-color: #4e6c7f; // 4f6e82; //rgb(59, 95, 116); <= 3b5f74
$secondary-color: #dd8357; //rgb(212, 104, 68); <= d46844
$third-color: rgb(218, 213, 207);
$fourth-color: rgb(165, 185, 196);
$green-color: rgb(53, 147, 159);
$text-color: #eee;
$grid-color: scale-color($text-color, $alpha: -80%);

$us-color: #0A3161;
$cn-color: #df2407;

$base-size: 24px;

:export {
	primaryColor: $primary-color;
	secondaryColor: $secondary-color;
	thirdColor: $third-color;
	fourthColor: $fourth-color;
	greenColor: $green-color;
	textColor: $text-color;
	gridColor: $grid-color;
	usColor: $us-color;
	cnColor: $cn-color;
	baseSize: $base-size;
}